body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.opening{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 30px;
    height: 80px;
    z-index: 1000;
    display: none;
}

.header img {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 60px;
    }

.nav a:hover {
     color: #6a6a6a;
}

.header i {
    font-size: 22px;
    margin-left: 40px;
}

.nav{
    font-size: 18px;
    text-transform: uppercase;
}

.nav-link.active {
     font-weight: bold;
     color: black;
}

.nav-link{
    color: black;
}

.icon-btn{
    border: none;
    background: none;
}

.icon-btn:hover{
    color: #6a6a6a;
}

.home button {
    border: solid 1px; 
    border-radius: 5px; 
    background-color: rgb(131, 195, 228); 
    color: white; 
    font-size: 15px;
    padding: 5px; 
    padding-left: 50px;
    padding-right: 50px;
}

.member{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-bottom: 80px;
}

.members h4{
    text-align: center;
}
.member img{
    border-radius: 50%;
    width: 200px;
}

.barang{
    display: flex;
    justify-content: center;
    gap: 15px;

}

.barang1{
    display: flex;
    justify-content: left;
    gap: 15px;
    padding-left: 100px;
}

.card{
    border: none;
}

.card h5{
    color: #53535376;
    font-size: 15px;
    
}

.card button{
    display: flex;
    justify-content: center;
    color: black;
    background-color: #ffffff;
    border-color: black;
    width: 100%;
}

.card a:hover {
    background-color: #6a6a6a;
    border-color: black;
}

.kontak{
    width: 70%;
    margin: 0 auto;
}

.kontak-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-grup{
    display: flex;
    flex-direction: column;
}

.form-grup label{
    margin-bottom: 6px;
}

.form-grup input, textarea{
    border: none;
    border-bottom: solid gray 1px;
}

.required{
    color: red;
    font-weight: bold;
}

.form-grup .file-btn{
    border: none;
}

.submit-btn{
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.submit-btn:hover{
    background-color: rgb(155, 155, 155);
    color: white;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(102, 185, 215);
    color: white;
    display: none;
    gap: 50px;
}

.footer-isi{
    align-items: center;
    text-align: center;
}

.socmed{
    padding-left: 7px;
}

.socmed i{
    margin-right: 30px;
    font-size: 30px;
    color: rgb(13, 155, 207);

}

.footer img{
    width: 200px;
}












